/* components index.css */

.container {
  /* full width */
  width: 100%;
  /* Fixed height */
  height: 60px;
  background-color: #0004ff;
  /* flex box */
  display: flex;
}

.containerTwo {
  /* full width */
  width: 80%;
  /* Fixed height */
  height: 30px;
  background-color: #1eff00;
  /* flex box */
  display: flex;
}

.containerThree {
  /* full width */
  width: 200px;
  /* Fixed height */
  height: 30px;
  background-color: #ff0000;
  /* flex box */
  justify-content: space-between;
}
